#googleMap {
  width: 100%;
  height: 300px;
}

#output {
  margin-top: 30px;
  margin-bottom: 30px;
}

#ticketJumbotron {
  margin-top: 30px;
}

#ticket_table {
  margin-top: 60px;
}

#viewMap {
  width: 100%;
  height: 300px;
}

#calculateRouteButton {
  margin-bottom: 20px;
}

#saveChangesButton {
  margin-left: 20px;
}

#editGoogleMap {
  width: 100%;
  height: 300px;
}

#outputEdit {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pac-container {
  background-color: #FFF;
  z-index: 1052 !important;
  position: fixed;
  display: inline-block;
  float: left;
  }
